@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0e0e5b;
  min-height: 100vh;
  width: 100%;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  background-image: url("./assets/background.png");
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
}
@media screen and (max-width: 769px) {
  body {
    font-size: 14px;
    width: 769px;
  }
}

.container {
  margin: 0 auto;
  width: 1920px;
  box-sizing: border-box;
  height: 100%;
}

/* media queries */
/* iPad (w 768) */
@media screen and (max-width: 769px) {
  body {
    font-size: 14px;
    width: 768px;
  }

  .container {
    width: 768px;
    padding: 30px 15px;
  }

  .header .header-logo {
    margin: auto auto auto 0;
  }
  .header .header-logo img {
    width: 224px;
    height: 24px;
  }

  .main {
    grid-template-areas: "head" "article" "aside" "comments";
  }

  .comments-add__send {
    top: -50px;
    left: 75%;
  }

  .article .article-image {
    margin: 30px 0;
  }
  .article .article-text p:not(:first-child) {
    display: none;
  }
  .article .list-item__replyButton .hidden {
    display: block;
  }

  .aside {
    margin: 35px auto;
    display: grid;
    grid-template-areas: "button button" "vote share" "stats term";
    gap: 30px;
  }
  .aside .aside-button {
    grid-area: button;
    width: 50%;
  }
  .aside .aside-vote {
    margin: 0 auto 50px;
    grid-area: vote;
  }
  .aside .aside-share {
    grid-area: share;
    margin: 30px 0 0 0;
  }
  .aside .aside-stats {
    grid-area: stats;
  }
  .aside .aside-term {
    grid-area: term;
    margin: 0;
  }

  .footer .header {
    display: none;
  }

  .footer-info .footer-info__list.left {
    display: none;
  }
  .footer-info .footer-info__list.right {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
/* iPhone (w 320) */
@media screen and (max-width: 321px) {
  body {
    width: 315px;
  }

  .container {
    width: 315px;
    padding: 20px 16px;
    box-sizing: border-box;
  }

  .header-menu .header-menu__icon {
    display: block;
  }
  .header-menu .header-menu__icon img {
    margin: 20%;
  }
  .header-menu .header-menu__link {
    display: none;
  }

  .main .main-heading {
    width: 315px;
  }
  .main .main-heading .main-heading__layer {
    font-size: 2em;
  }

  .article-image img {
    width: 288px;
    height: 186px;
  }

  .article-text {
    width: 290px;
  }

  .comments-add__send {
    top: -50px;
    left: 50%;
  }

  .aside {
    margin: 0;
    grid-template-areas: "button" "vote" "stats" "share" "term";
  }
  .aside .aside-button {
    margin: 40px 0 50px;
    width: 90%;
  }
  .aside .aside-vote {
    margin: 0 auto 50px 0;
  }
  .aside .aside-vote .heading {
    margin: 0 auto 20px;
  }
  .aside .aside-share {
    width: 315px;
  }
  .aside .aside-share .heading {
    margin: 0 auto 20px;
  }
  .aside .aside-share .aside-share__item {
    padding: 0.5em 1em;
  }
  .aside .aside-share .aside-share__item a {
    margin: 5%;
  }
  .aside .aside-stats {
    width: 315px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .footer .footer-info__list.left {
    display: block;
  }
  .footer .footer-info__list.right {
    display: block;
  }
  .footer .footer-info__item {
    margin: 5px 0;
    font-size: 0.85em;
  }
}
/* common */
.heading {
  font-size: 1.6em;
  color: #fff;
  font-weight: bold;
  font-style: italic;
}

.comments-add .heading {
  margin: 0 0 50px 0;
}
.comments-add textarea {
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  height: 280px;
  background: #0e0e5b;
  color: #afc6e1;
  font-weight: 600;
  font-style: normal;
  line-height: 1.7em;
  font-size: 1em;
  padding: 25px 30px 0 30px;
  box-sizing: border-box;
}
.comments-add .comments-add__send {
  background: linear-gradient(90deg, #ac50d2 0%, #4537b7 100%);
  position: relative;
  box-shadow: 0px 0px 11px #7743c4;
  border-radius: 2px;
  display: inline-block;
  padding: 1em 2em;
  transform: skewX(170deg);
  width: 48px;
  height: 60px;
  transition: all 0.5s ease-out;
}
@media screen and (min-width: 769px) {
  .comments-add .comments-add__send {
    top: -50px;
    left: 75%;
  }
}
.comments-add .comments-add__send:hover {
  background: linear-gradient(90deg, #4537b7 0%, #ac50d2 100%);
}
.comments-add .comments-add__send img {
  display: inline-block;
  transform: skewX(-170deg);
  margin: 20%;
}

.list-item__replyButton a {
  color: #2ed4e2;
  text-shadow: 0px 0px 15px #73f4ffcc;
  font-style: normal;
  font-size: 1.3em;
}
.list-item__replyButton a:link, .list-item__replyButton a:visited {
  text-decoration: none;
}
.list-item__replyButton a:hover, .list-item__replyButton a:active {
  text-decoration: underline;
}

/* header */
.header {
  max-width: inherit;
  display: flex;
}
@media screen and (min-width: 769px) {
  .header {
    padding: 40px 60px;
  }
}

.header-logo {
  display: block;
  margin: 0 auto 0 0;
}
.header-logo img {
  width: 335px;
  height: 36px;
}

.header-menu {
  margin: 0 0 auto 0;
}
@media screen and (min-width: 321px) {
  .header-menu .header-menu__icon {
    display: none;
  }
}
@media screen and (min-width: 321px) {
  .header-menu .header-menu__list {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 40px;
    list-style: none;
  }
}
.header-menu .header-menu__list .header-menu__link a:link, .header-menu .header-menu__list .header-menu__link a:visited {
  display: block;
  margin: 0 0 0 60px;
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  transition: all 0.3s ease-out;
}
.header-menu .header-menu__list .header-menu__link a:hover, .header-menu .header-menu__list .header-menu__link a:active {
  text-decoration: underline;
  color: #6666d1;
}

/* main section */
.main {
  margin: 60px auto 0;
  display: grid;
}
@media screen and (min-width: 769px) {
  .main {
    padding: 0 350px;
    grid-template-columns: 55% 42%;
    grid-template-areas: "head head" "article aside" "comments aside";
  }
}
.main .main-heading {
  grid-area: head;
}
@media screen and (min-width: 769px) {
  .main .main-heading {
    margin: 80px auto 100px;
  }
}
.main .main-heading .main-heading__layer {
  text-transform: uppercase;
  font-style: italic;
  color: #fff;
  text-shadow: 3px 3px #2ed4e2, 0 0 20px #73f4ff;
}
@media screen and (min-width: 321px) {
  .main .main-heading .main-heading__layer {
    font-size: 2.3em;
  }
}
.main .article {
  grid-area: article;
}
@media screen and (min-width: 769px) {
  .main .article .article-image {
    margin: 0 0 60px 0;
  }
}
@media screen and (min-width: 321px) {
  .main .article .article-image img {
    width: 100%;
    height: 451px;
  }
}
@media screen and (min-width: 769px) {
  .main .article .article-text {
    width: 100%;
  }
}
.main .article .article-text p {
  margin: 0 0 20px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.7em;
  color: #afc6e1;
  text-shadow: 1px 1px 1px #000;
}
@media screen and (min-width: 769px) {
  .main .article .list-item__replyButton .hidden {
    display: none;
  }
}
.main .comments {
  grid-area: comments;
  margin: 170px 0 0 0;
}
.main .list {
  grid-area: comments;
}
.main .list .list-item {
  margin: 80px 0 0 0;
  width: 100%;
  color: #afc6e1;
}
.main .list .list-item .list-item__name {
  display: block;
}
.main .list .list-item .list-item__time {
  margin: 25px 0;
  color: #4a5296;
}
.main .list .list-item .list-item__text p {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.7em;
  font-style: normal;
  margin: 25px 0;
}
.main .list .comments-add .list-item__replyButton {
  margin: 25px 0;
}
.main .list .reply {
  margin-left: 25px;
  width: calc(100% - 25px);
}
.main .aside {
  grid-area: aside;
  box-sizing: border-box;
}
@media screen and (min-width: 769px) {
  .main .aside {
    margin-left: 100px;
  }
}
.main .aside .aside-button {
  font-size: 1.3em;
  font-weight: 600;
  font-style: normal;
  box-sizing: border-box;
  background: linear-gradient(90deg, #fcf565 0%, #d5793f 100%);
  box-shadow: 0px 0px 20px #e9b85380;
  border-radius: 3px;
  color: #672500;
  display: inline-block;
  padding: 1em 2em;
  transform: skewX(170deg);
  text-align: center;
}
@media screen and (min-width: 769px) {
  .main .aside .aside-button {
    width: 100%;
    margin: 0 auto;
  }
}
.main .aside .aside-button span {
  display: inline-block;
  margin: 0 auto;
  transform: skewX(-170deg);
}
.main .aside .aside-button:hover {
  color: #fff;
  box-shadow: 0px 0px 30px #e9b853cc;
}
@media screen and (min-width: 769px) {
  .main .aside .aside-vote {
    margin: 80px 0;
  }
}
@media screen and (min-width: 769px) {
  .main .aside .aside-vote .heading {
    margin: 0 0 72px 0;
  }
}
.main .aside .aside-vote .aside-vote__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 1.3em;
  font-style: normal;
}
.main .aside .aside-vote .aside-vote__buttons .aside-vote__pros {
  border: 2px solid #67f3ff;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px #67f3ff;
  border-radius: 3px;
  display: inline-block;
  padding: 1em 2em;
  transform: skewX(170deg);
  text-align: center;
  width: 35%;
  filter: drop-shadow(0px 0px 5px #50bac4);
  transition: all 0.3s ease-out;
}
.main .aside .aside-vote .aside-vote__buttons .aside-vote__pros span {
  color: #2ed4e2;
  display: inline-block;
  margin: 0 auto;
  transform: skewX(-170deg);
}
.main .aside .aside-vote .aside-vote__buttons .aside-vote__pros:hover {
  background: #67f3ff;
  box-shadow: 0px 0px 20px #67f3ff;
}
.main .aside .aside-vote .aside-vote__buttons .aside-vote__pros:hover span {
  color: #4537b7;
}
.main .aside .aside-vote .aside-vote__buttons .aside-vote__cons {
  border: 2px solid #d379f9;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px #d379f9;
  border-radius: 3px;
  display: inline-block;
  padding: 1em 2em;
  transform: skewX(170deg);
  text-align: center;
  width: 55%;
  filter: drop-shadow(0px 0px 5px #ac50d2);
  transition: all 0.3s ease-out;
}
.main .aside .aside-vote .aside-vote__buttons .aside-vote__cons span {
  color: #d379f9;
  display: inline-block;
  margin: 0 auto;
  transform: skewX(-170deg);
}
.main .aside .aside-vote .aside-vote__buttons .aside-vote__cons:hover {
  background: #d379f9;
  box-shadow: 0px 0px 30px rgba(233, 184, 83, 0.8);
}
.main .aside .aside-vote .aside-vote__buttons .aside-vote__cons:hover span {
  color: #4537b7;
}
.main .aside .aside-stats .aside-stats__bar {
  display: flex;
  width: 100%;
  margin: 50px auto;
}
.main .aside .aside-stats .aside-stats__bar .pros {
  background: #67f3ff;
  box-shadow: 0px 0px 5px #67f3ff;
  width: 70%;
  display: inline-block;
  padding: 0.01em 0.1em;
  transform: skewX(170deg);
}
.main .aside .aside-stats .aside-stats__bar .pros span {
  display: inline-block;
  margin: 0 auto;
  transform: skewX(-170deg);
}
.main .aside .aside-stats .aside-stats__bar .cons {
  background: #ac50d2;
  box-shadow: 0px 0px 5px #ac50d2;
  width: 30%;
  display: inline-block;
  padding: 0.01em 0.1em;
  transform: skewX(170deg);
}
.main .aside .aside-stats .aside-stats__bar .cons span {
  display: inline-block;
  margin: 0 auto;
  transform: skewX(-170deg);
}
.main .aside .aside-stats__results {
  margin-bottom: 15px;
  color: #b0c6e1;
  font-style: normal;
  font-size: 1em;
  font-weight: 500;
}
.main .aside .aside-stats__results span {
  font-weight: 600;
  color: #fff;
}
@media screen and (min-width: 769px) {
  .main .aside .aside-share {
    margin: 80px auto;
  }
}
@media screen and (min-width: 769px) {
  .main .aside .aside-share .heading {
    margin: 50px auto;
  }
}
.main .aside .aside-share .aside-share__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}
.main .aside .aside-share .aside-share__list .aside-share__item {
  background: #201c6c;
  border-radius: 2px;
  display: inline-block;
  transform: skewX(170deg);
}
@media screen and (min-width: 769px) {
  .main .aside .aside-share .aside-share__list .aside-share__item {
    padding: 1em 1.5em;
    margin: 0 10px;
  }
}
.main .aside .aside-share .aside-share__list .aside-share__item a {
  display: inline-block;
  transform: skewX(-170deg);
}
@media screen and (min-width: 769px) {
  .main .aside .aside-share .aside-share__list .aside-share__item a {
    margin: 25%;
  }
}
.main .aside .aside-share .aside-share__list .aside-share__item a img {
  width: 40px;
  height: 40px;
}
.main .aside .aside-share .aside-share__list .aside-share__item:hover {
  background: linear-gradient(90deg, #ac50d2 0%, #4537b7 100%);
  border-radius: 2px;
}
@media screen and (min-width: 769px) {
  .main .aside .aside-term {
    margin: 80px auto 0;
  }
}
.main .aside .aside-term .aside-stats__results {
  margin: 50px auto 0;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
}
.main .aside .aside-term .aside-stats__results span {
  font-weight: 600;
  font-size: 1.3em;
}

/* footer */
@media screen and (min-width: 769px) {
  .footer .footer-info {
    padding: 30px 60px 40px;
    display: flex;
    justify-content: space-between;
  }
}
.footer .footer-info .footer-info__list .footer-info__item {
  color: #b0c6e1;
  font-size: 0.9em;
}
@media screen and (min-width: 769px) {
  .footer .footer-info .footer-info__list .footer-info__item {
    margin: 5px auto;
  }
}
.footer .footer-info .footer-info__list .footer-info__item a {
  color: #b0c6e1;
  text-decoration: none;
}
.footer .footer-info .footer-info__list .footer-info__item a:hover {
  text-decoration: underline;
}
.footer .footer-info .footer-info__list .footer-info__item .mail {
  color: #2ed4e2;
}

/* FOUC fix */
html {
  visibility: visible;
  opacity: 1;
}