@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0e0e5b;
  min-height: 100vh;
  width: 100%;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  background-image: url("./assets/background.png");
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  margin: 0 auto;
  width: 1920px;
  height: 100%;
}

/* common */

.heading {
  font-size: 1.6em;
  color: #fff;
  font-weight: bold;
  font-style: italic;
}

.comments-add {
  .heading {
    margin: 0 0 50px 0;
  }
  textarea {
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    height: 280px;
    background: #0e0e5b;
    color: #afc6e1;
    font-weight: 600;
    font-style: normal;
    line-height: 1.7em;
    font-size: 1em;
    padding: 25px 30px 0 30px;
    box-sizing: border-box;
  }
  .comments-add__send {
    background: linear-gradient(90deg, #ac50d2 0%, #4537b7 100%);
    position: relative;
    top: -50px;
    left: 75%;
    box-shadow: 0px 0px 11px #7743c4;
    border-radius: 2px;
    display: inline-block;
    padding: 1em 2em;
    transform: skewX(170deg);
    width: 48px;
    height: 60px;
    transition: all 0.5s ease-out;
    &:hover {
      background: linear-gradient(90deg, #4537b7 0%, #ac50d2 100%);
    }
    img {
      display: inline-block;
      transform: skewX(-170deg);
      margin: 20%;
    }
  }
}

/* header */

.header {
  max-width: inherit;
  display: flex;
  padding: 40px 60px;
}

.header-logo {
  display: block;
  margin: 0 auto 0 0;
  img {
    width: 335px;
    height: 36px;
  }
}
.header-menu {
  margin: 0 0 auto 0;
  .header-menu__list {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 40px;
    list-style: none;
    .header-menu__link {
      a {
        &:link,
        &:visited {
          display: block;
          margin: 0 0 0 60px;
          text-decoration: none;
          font-weight: 500;
          font-style: normal;
          color: #fff;
          transition: all 0.3s ease-out;
        }
        &:hover,
        &:active {
          text-decoration: underline;
          color: #6666d1;
        }
      }
    }
  }
}

/* main section */

.main {
  display: grid;
  grid-template-columns: 55% 42%;
  grid-template-areas:
    "head head"
    "main aside";
  margin: 60px auto 0;
  padding: 0 350px;
  .main-heading {
    margin: 80px auto 100px;
    grid-area: head;
    .main-heading__layer {
      font-size: 2.3em;
      text-transform: uppercase;
      font-style: italic;
      color: #fff;
      text-shadow: 3px 3px #2ed4e2, 0 0 20px #73f4ff;
    }
  }
  .article {
    grid-area: main;
    .article-image {
      img {
        width: 100%;
        height: 451px;
      }
      margin: 0 0 60px 0;
    }
    .article-text {
      width: 100%;
      p {
        margin: 0 0 20px 0;
        font-style: normal;
        font-weight: 600;
        font-size: 1em;
        line-height: 1.7em;
        color: #afc6e1;
        text-shadow: 1px 1px 1px #000;
      }
    }
  }
  .comments {
    margin: 170px 0 0 0;
  }
  .list {
    .list-item {
      margin: 80px 0 0 0;
      width: 100%;
      color: #afc6e1;
      .list-item__name {
        display: block;
      }
      .list-item__time {
        margin: 25px 0;
        color: #4a5296;
      }
      .list-item__text {
        p {
          font-size: 1em;
          font-weight: 600;
          line-height: 1.7em;
          font-style: normal;
          margin: 25px 0;
        }
      }
    }
    .list-item__replyButton {
      a {
        color: #2ed4e2;
        text-shadow: 0px 0px 15px #73f4ffcc;
        font-style: normal;
        font-size: 1.3em;
        &:link,
        &:visited {
          text-decoration: none;
        }
        &:hover,
        &:active {
          text-decoration: underline;
        }
      }
    }
    .comments-add {
      .list-item__replyButton {
        margin: 25px 0;
      }
    }
    .reply {
      margin-left: 25px;
    }
  }
  .aside {
    grid-area: aside;
    margin-left: 100px;
    box-sizing: border-box;
    .aside-button {
      font-size: 1.3em;
      font-weight: 600;
      font-style: normal;
      box-sizing: border-box;
      margin: 0 auto;
      width: 100%;
      background: linear-gradient(90deg, #fcf565 0%, #d5793f 100%);
      box-shadow: 0px 0px 20px #e9b85380;
      border-radius: 3px;
      color: #672500;
      display: inline-block;
      padding: 1em 2em;
      transform: skewX(170deg);
      text-align: center;
      span {
        display: inline-block;
        margin: 0 auto;
        transform: skewX(-170deg);
      }
      &:hover {
        color: #fff;
        box-shadow: 0px 0px 30px #e9b853cc;
      }
    }
    .aside-vote {
      margin: 80px 0;
      .heading {
        margin: 0 0 72px 0;
      }
      .aside-vote__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        font-size: 1.3em;
        font-style: normal;
        .aside-vote__pros {
          border: 2px solid #67f3ff;
          box-sizing: border-box;
          box-shadow: 0px 0px 5px #67f3ff;
          border-radius: 3px;
          display: inline-block;
          padding: 1em 2em;
          transform: skewX(170deg);
          text-align: center;
          width: 35%;
          filter: drop-shadow(0px 0px 5px #50bac4);
          transition: all 0.3s ease-out;
          span {
            color: #2ed4e2;
            display: inline-block;
            margin: 0 auto;
            transform: skewX(-170deg);
          }
          &:hover {
            background: #67f3ff;
            box-shadow: 0px 0px 20px #67f3ff;
            span {
              color: #4537b7;
            }
          }
        }
        .aside-vote__cons {
          border: 2px solid #d379f9;
          box-sizing: border-box;
          box-shadow: 0px 0px 5px #d379f9;
          border-radius: 3px;
          display: inline-block;
          padding: 1em 2em;
          transform: skewX(170deg);
          text-align: center;
          width: 55%;
          filter: drop-shadow(0px 0px 5px #ac50d2);
          transition: all 0.3s ease-out;
          span {
            color: #d379f9;
            display: inline-block;
            margin: 0 auto;
            transform: skewX(-170deg);
          }
          &:hover {
            background: #d379f9;
            box-shadow: 0px 0px 30px rgba(233, 184, 83, 0.8);
            span {
              color: #4537b7;
            }
          }
        }
      }
    }
    .aside-stats {
      .aside-stats__bar {
        display: flex;
        width: 100%;
        margin: 50px auto;
        .pros {
          background: #67f3ff;
          box-shadow: 0px 0px 5px #67f3ff;
          width: 70%;
          display: inline-block;
          padding: 0.01em 0.1em;
          transform: skewX(170deg);
          span {
            display: inline-block;
            margin: 0 auto;
            transform: skewX(-170deg);
          }
        }
        .cons {
          background: #ac50d2;
          box-shadow: 0px 0px 5px #ac50d2;
          width: 30%;
          display: inline-block;
          padding: 0.01em 0.1em;
          transform: skewX(170deg);
          span {
            display: inline-block;
            margin: 0 auto;
            transform: skewX(-170deg);
          }
        }
      }
    }
    .aside-stats__results {
      margin-bottom: 15px;
      color: #b0c6e1;
      font-style: normal;
      font-size: 1em;
      font-weight: 500;
      span {
        font-weight: 600;
        color: #fff;
      }
    }
    .aside-share {
      margin: 80px auto;
      .heading {
        margin: 50px auto;
      }
      .aside-share__list {
        display: flex;
        justify-content: space-evenly;
        .aside-share__item {
          background: #201c6c;
          margin: 0 10px;
          border-radius: 2px;
          display: inline-block;
          padding: 1em 1.5em;
          transform: skewX(170deg);
          a {
            display: inline-block;
            margin: 25%;
            transform: skewX(-170deg);
            img {
              width: 40px;
              height: 40px;
            }
          }
          &:hover {
            background: linear-gradient(90deg, #ac50d2 0%, #4537b7 100%);
            border-radius: 2px;
          }
        }
      }
    }
    .aside-term {
      margin: 80px auto 0;
      .aside-stats__results {
        margin: 50px auto 0;
        font-size: 1em;
        font-style: normal;
        font-weight: 500;
        span {
          font-weight: 600;
          font-size: 1.3em;
        }
      }
    }
  }
}

/* footer */

.footer {
  .footer-info {
    padding: 30px 60px 40px;
    display: flex;
    justify-content: space-between;
    .footer-info__list {
      .footer-info__item {
        color: #b0c6e1;
        margin: 5px auto;
        font-size: 0.9em;
        a {
          color: #b0c6e1;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        .mail {
          color: #2ed4e2;
        }
      }
    }
  }
}

/* FOUC fix */

html {
  visibility: visible;
  opacity: 1;
}
