@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0e0e5b;
  min-height: 100vh;
  width: 100%;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
}

.container {
  background-image: url("./assets/background.png");
  background-position: top center;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 1400px;
  height: 100%;
  padding: 40px 60px;
}

/* common */
.heading {
  font-size: 30px;
}

/* header */
.header {
  max-width: inherit;
  display: flex;
}

.header-logo {
  display: block;
  margin: 0 auto 0 0;
}

.header-menu {
  margin: 0 0 auto 0;
}
.header-menu .header-menu__list {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 40px;
  list-style: none;
}
.header-menu .header-menu__list .header-menu__link a:link,
.header-menu .header-menu__list .header-menu__link a:visited {
  display: block;
  margin: 0 0 0 60px;
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  transition: all 0.3s ease-out;
}
.header-menu .header-menu__list .header-menu__link a:hover,
.header-menu .header-menu__list .header-menu__link a:active {
  text-decoration: underline;
  color: #6666d1;
}

/* main section */
.main {
  margin-top: 60px;
}
.main .main__heading .main-heading__layer {
  display: block;
}
.main .main__heading .main-heading__shadow {
  display: block;
}
.main .article .article-image img {
  display: block;
}
.main .article .article-text p {
  display: block;
}
.main .comments .comments-add {
  display: block;
}
.main .comments textarea {
  display: block;
}
.main .comments .comments-add__send {
  display: block;
}
.main .list .list-item .list-item__name {
  display: block;
}
.main .list .list-item .list-item__time {
  display: block;
}
.main .list .list-item .list-item__text p {
  display: block;
}
.main .list .list-item .list-item__replyButton a {
  display: block;
}
.main .list .reply {
  display: block;
}
.main .aside .aside-vote .aside-vote__pros {
  display: block;
}
.main .aside .aside-vote .aside-vote__cons {
  display: block;
}
.main .aside .aside-stats .aside-stats__bar .pros {
  display: block;
}
.main .aside .aside-stats .aside-stats__bar .cons {
  display: block;
}
.main .aside .aside-stats__results span {
  font-weight: bold;
}
.main .aside .aside-share .aside-share__item a {
  display: block;
}
.main .aside .aside-term {
  display: block;
}

/* footer */
.footer .footer-info .footer-info__item a {
  display: block;
}
.footer .left {
  display: block;
}
.footer .right {
  display: block;
}

/* FOUC fix */
html {
  visibility: visible;
  opacity: 1;
}
