* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  background-color: #0e0e5b;
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  display: block;
  margin: 0 auto;
  width: 1920px;
}

.header {
  width: 100%;
  display: flex;
}
.header .header-logo {
  display: block;
}